<a href="https://colab.research.google.com/github/Phonix10/3in1game/blob/main/Copy_of_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment/ Homework 2

** Answer the following questions **

In [ ]:
# Name:Udit RanjanSingh

### Q1 Write an if statement that checks if a number is positive or negative.

In [1]:
num = float(input("Enter a number: "))

Enter a number: 5

In [2]:
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

### Q2 Write an if-elif-else statement to classify a student's grade based on marks.

In [3]:
# Take input for student's marks
marks = float(input("Enter the student's marks: "))

# Check the grade based on marks
if marks >= 90:
    grade = "A+"  # Marks 90 and above get an A+
elif marks >= 80:
    grade = "A"   # Marks between 80 and 89 get an A
elif marks >= 70:
    grade = "B"   # Marks between 70 and 79 get a B
elif marks >= 60:
    grade = "C"   # Marks between 60 and 69 get a C
elif marks >= 50:
    grade = "D"   # Marks between 50 and 59 get a D
else:
    grade = "F"   # Marks below 50 get an F (Fail)

# Print the result
print(f"The student's grade is: {grade}")

Enter the student's marks: 50
The student's grade is: D

### Q3 Write a for loop to print even numbers between 1 and 20.

In [4]:
for num in range(2, 21, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20

### Q4 Use break in a loop to stop when the number is 7.

In [5]:
for i in range(1, 11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

### Q5 Use continue in a loop to skip number 5.

In [6]:
for i in range(1, 11):
    if i != 5:
      print(i)

1
2
3
4
6
7
8
9
10

### Q6 Take input a number and Write a program that calculates the sum of digits of a number using a loop

In [12]:
num1 = int(input("Enter a number: "))
sum_of_digits = 0
while num1 > 0:
  sum_of_digits += num1 % 10
  num1 = num1 // 10
print("The sum of digits is:", sum_of_digits)

# second way

num2 =  int(input("Enter the number:"))
sum_digit =  0
for digit in str(num2):
  sum_digit += int(digit)
print("The sum of digits by converting num to string :", sum_digit)

Enter a number: 456987
The sum of digits is: 39
Enter the number:456987
The sum of digits by converting num to string : 39

### Q7 Use for, .split(), and if to create a Statement that will print out words that start with 't':

In [13]:
start = 'Varun thinks to print only the words that start with t in this sentence'
#Code here
words = start.split()
for word in words:
  if word.lower().startswith("t"):
    print(word)

thinks
to
the
that
t
this

### Q8 Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 5.

In [14]:
#Code here
numberList =  []
for num in range(1, 51):
  if num % 5 == 0:
    numberList.append(num)
print(numberList)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### Very Nice !!!